<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div class="model_errors alert alert-danger">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
    <br>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <%= link_to 'Back', @category.new_record? ? root_path : category_path, class: 'btn btn-default' %>
    <% unless @category.new_record? %>
        <%= link_to 'Delete', category_path, method: :delete, class: 'btn btn-danger pull-right', data: {confirm: 'Are You Sure?'} %>
    <% end %>
<% end %>
