<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @image.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Size:</strong>
  <%= @image.size %>
</p>

<p>
  <strong>Type:</strong>
  <%= @image.type %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @image.desc %>
</p>

<p>
  <strong>Category:</strong>
  <%= @image.category_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
